<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Vets</title>
</head>
<body>
    <h2 th:text="'List of Vets'">Vets List</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each=" vet: ${vets}">
                <td th:text="${vet.id}">1</td>
                <td th:text="${vet.firstname}">Kim</td>
                <td th:text="${vetlastname}">Aret</td>
            </tr>
        </tbody>
    </table>
</body>
</html>